body{
  background-image: url(https://hatgether.github.io/tgd/background.jpg);
  background-size: 100% 100%;
  height: auto;
}

header #header-bar>.row{
  border-top: 5px solid #F898A8;
}

#main .menu-wrapper>.header{
  background: #F898A8;
}

#article-list #article-list-category{
  border-top: 2px solid #F898A8;
  background-color: #f2ffe5;
}

#article-list #article-list-category > a.active, #article-list #article-list-category>a:hover{
  background-color: #f2ffe5;
}

header #header-bar #header-top-notice strong.notice-badge{
  background: #F898A8;
}
#article-list #article-list-category>a{
  background-color: #f2ffe5;
  font-weight: bold;
}

.badge{
  background: hotpink;
}

#article-list>.article-list-row.notice{
  background-color: #ffe5e5;
}

header #right-search-form>input[type=text]{
  border: 3px solid #F898A8;
}

.fa{
  color:#F898A8;
}

#article-list>.article-list-row>.item>.list-title>small.comment-count{
  color: hotpink;
}
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span{
  color:hotpink;
}

#article-list>.article-list-row>.item>.list-title>.list-writer>span{
  color: black;
  font-weight: bold;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
  background: hotpink;
  border: none;
}

.pagination>li>a, .pagination>li>span{
  color: hotpink;
}

.btn-primary{
  background-color: hotpink;
}

header .row>div:nth-child(1)>a{
  display: block;
  width: 155px;
  height: 50px;
  background: url(https://hatgether.github.io/tgd/logo.png) no-repeat;
}

header .row>div:nth-child(1)>a>img{
  visibility: hidden;
}


#article-list>.article-list-row>.item>.list-title>.list-category{
  border-left: none;
}

#article-list>.article-list-row>.item>.list-header{
  display: none;
}

.clearfix > .btn{
  border:none;
  background: pink;
}

.btn-outline-success[data-type=up]{
  display:none;
}

.btn-outline-primary[data-type=down]{
  display:none;
}

.btn-primary{
  border:none;
}

.btn-primary:hover{
  background-color:hotpink;
}

#article-content-wrapper>.header{
  border-color:#F898A8;
}
